@import "src/assets/themes/styles.scss";

.roll-call {
  height: 100%;

  &__header {
    &__statistics {
      color: $text-primary-dark;

      &-title {
        font-weight: bold;
        font-size: 30px;
        margin-right: 60px;
        margin-top: 5px;
      }

      &-presence {
        font-weight: bold;
        font-size: 20px;
        margin-right: 80px;
        text-align: center;
      }
    }

    &__actions {
      margin: 8px 10px 0 30px;
      flex: 1;

      &-new {
        width: fit-content;
        cursor: pointer;
        font-size: 22px;
        color: $text-primary-light;
        background-color: $background-primary-dark;
        padding: 6px 25px;
        border-radius: 15px;
      }

      &-edit {
        $edit-size: 35px;
        width: $edit-size;
        height: $edit-size;
        padding: 10px 10px 10px 12px;
        background-color: $background-primary-dark;
        border-radius: 50%;
        margin-left: auto;
        margin-top: -20px;
        cursor: pointer;
      }
    }
  }

  &__content {
    height: calc(100% - 98px); //100px - roll-call header height + margin-top
    overflow-y: auto;
    margin-top: 10px;

    &__block {
      margin-bottom: 20px;
      margin-left: -32px;

      &-title {
        font-weight: bold;
        font-size: 25px;
        color: $text-primary-dark;
        margin-left: 32px;
      }

      &-countries {
        flex-wrap: wrap;

        &_country {
          text-align: center;
          font-size: 16px;
          width: 150px;
          margin: 10px 8px 5px 8px;

          &-flag, img {
            margin: 0 auto;
            max-width: 100px;
            height: 60px;
          }

          img {
            height: auto;
          }
        }
      }
    }
  }

  .circle {
    $circle-size: 55px;
    width: $circle-size;
    height: $circle-size;
    display: block;
    border-radius: 50%;
    background-color: $text-primary-dark;
    border: 2px solid $text-primary-dark;
    float: left;
    margin-bottom: 2px;
    transform: scale(-1, 1);

    &._half {
      background-image: linear-gradient(90deg, $text-primary-light 50%, transparent 50%);
    }

    &._two-third {
      background-image: linear-gradient(140deg, transparent 50%, $text-primary-dark 50%), linear-gradient(90deg, $text-primary-light 50%, transparent 50%);
    }

    &._full {
      background-image: none;
    }
  }
}

