<div class="app-header">
  <img (click)="navigate()" class="app-header__logo" src="assets/img/medium/logo.png" alt="">
  <div class="app-header__nav-bar">
    <div class="app-header__nav-bar-item"
         (click)="navigate(link)"
         *ngFor="let link of this.links; let index = index">
      <div class="app-header__nav-bar-item__text"
           [ngClass]="{_selected: link.selected}">
        {{link.caption}}
      </div>
      <div *ngIf="index !== (this.links.length - 1)" class="app-header__nav-bar-item__border"></div>
    </div>
    <img class="app-header__nav-bar-user" src="assets/img/user.png" alt="">
  </div>
</div>
